
<div class="container-fluid align-items-center"></div>

 <div class="col-12 col-md col-lg col-xl col-sm">


<nav class="navbar bg-primary"style="padding: 10px; margin-bottom: 10px;" data-bs-theme="dark">
    <button  class="btn btn-warning" routerLink="">Back</button>
    <h3 style="color: white;">Welcom Admin</h3>
    <div class="btn-group" role="group">
     <button  class="btn btn-success" routerLink="/view">View</button>   <button class="btn btn-danger"  (click)="clear()" type="submit">clear from</button>     

    </div>
</nav>

<div >

<div class="container">



<form action="" (ngSubmit)="register()">
       
 <h3 style="background-color: green;">RegisterFORM</h3>



  <label for="a" class="form-label">First name</label><br>
  <input type="text"  class="form-control"  id="a"   placeholder="first" name="first" [(ngModel)]="userdata.first" required><br>

  <label for="b" class="form-label">last name</label><br>
  <input type="text" id="b" class="form-control" name="lname"  placeholder="last"  name="last" [(ngModel)]="userdata.last" required><br>

  <label for=""  >Gender</label><br>
  <input type="radio"  name="gender"  value="male"  [(ngModel)]="userdata.gender" >
  <label for="" >male</label>

  <input type="radio" value="female" name="gender"   [(ngModel)]="userdata.gender">
  <label for="">female</label>


  <input type="radio" name="gender" value="others"  [(ngModel)]="userdata.gender" >

  <label for="" class="form-label">others</label><br>

  <label for="c">Date of birth</label><br>

  <input id="c" type="date" class="form-control" name="dob" [(ngModel)]="userdata.dob" required><br>

  <label for="d">Address</label><br>
  <textarea  id="d" placeholder="address" name="adr" [(ngModel)]="userdata.address"></textarea><br>

  <label for="e">Pin code:</label><br>
  <input id="e" type="number" placeholder="pin number" name="pincode" [(ngModel)]="userdata.pincode" required><br>

  <label for="f">phone no:</label><br>
  <input type="text" id="f" placeholder="phone number" name="phone" [(ngModel)]="userdata.phone" required><br>

  <label for="g">Email id</label><br>
  <input type="email" id="g" placeholder="enter email" name="email" [(ngModel)]="userdata.email" required><br>
   
<label for="h">State</label><br>

<select class="form-select" aria-label="Default select example" id="h" name="state" [(ngModel)]="userdata.state" required>
  <option value="">-- Select State --</option>
  <option *ngFor="let state of states" >
    {{ state.name }}
  </option>
</select>
<br>

<label for="i">country</label><br>
<select class="form-select" aria-label="Default select example"  id="i" name="country" [(ngModel)]="userdata.country" required>
    <option value="">--country--</option>
    <option *ngFor="let country of countrys" >{{country.name}}</option>


</select>
<br>


<label for="l">id</label><br>
<input type="text" placeholder="enter id" name="id" [(ngModel)]="userdata.id" required><br>

 <label for="j">new password</label><br>
 <input type="password" id="j" name="np" [(ngModel)]="userdata.np"><br>

 <label for="k">confirm passsword</label><br>
 <input type="password" id="k" required name="cp" [(ngModel)]="userdata.cp"><br>

 <label for="">
    <input type="checkbox" required>
        I agree to the terms and conditions
 </label><br>
<div class="d-grid gap-2 col-12 mx-auto">
    <button class="btn btn-primary" type="submit">register</button> 


</div>

    </form>

</div>
</div>

</div>


