.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

form{
    width: 450px;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: #ccc;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label{
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea{
    height: 80px;
    resize: vertical;
}

input[type="radio"]{
    margin-top: 10px;
    margin-right: 5px;
}

#bt{
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#bt:hover{
    background-color: #0056b3;
}

#back{
    position: fixed;
    top: 20px;
    left: 20px;

    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back:hover{
    background-color: #0056b3;
}

#view{
    position: fixed;
    top: 20px;
    right: 20px;

    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#clear{
    position: fixed;
    top: 20px;
    right: 96px;
     padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}